---
---

@import "base";


.first {

    overflow: hidden;

    height: 100vh;
    width: 100vw;
    background-color: transparent;
    border-bottom: 1px solid grey;
    background: linear-gradient(
        to right,
        $primary 0%,
        $primary 51%,
        $black 51%,
        $black 100%
        );

    .primary-container {

        display: flex;
        flex-direction: row;
        // width: 100vw;
        padding: 6rem $LeftRightPadding;
        justify-content: space-between;
        align-items: center;

        .primary-contents {

            .contents-head {

                font-size: 8rem;

            }
            .contents-head-sub {

                font-size: 1.4rem;


            }
        }

        .primary-animations {
        
            padding: 0rem 8rem;
            height: 32em;
            
            svg {
                height: 100%;
                scale: 1.3;
            }
           
        }
    }

}

.second {

    height: auto;
    width: 100vw;
    background-color: $black;
    padding: 6rem 4rem 0rem 4rem;

    .second-inner {

        margin-bottom: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;

        .contents-head-sub {
            color: $primary;
            font-size: 4rem;
        }
        
        .contents-head-sub-secondary {

            display: flex;
            flex-direction: column;
            color: $primary;
            gap: 1rem;

            .contents-head-sub-secondary-inner {
                color: $black;
                text-decoration-color: blue;
                padding: 2rem;
                font-size: 4rem;
                background-color: #c6ff00;
                border-radius: 10px;
    
                display: flex;
                gap: 2rem;
    
                img {
                    width: 150px;
                }
            }
        
        }
    
    }

}

@import "medias";
