<div class="footer">
    <div class="column">
        <a target="_blank" href="https://github.com/HishamMubarak/full-stack-playlist" class="github logo">
            <img src="{{ site.baseurl }}/assets/images/github.png" alt="Github">
            <span>full-stack-playlist</span>
        </a>
        <a href="{{ site.baseurl }}/contribute" class="contribute logo">
            <img src="{{ site.baseurl }}/assets/images/contribute.png" alt="Contribute">
            <span>Contribute</span>
        </a>
    </div>
    <!-- <div class="column"></div> -->
    <!-- <div class="column"></div> -->
</div>