<div class="navigation-container">
    <a class="navigation-first" href="{{ site.baseurl }}/" style="
        
        {% if page.url == "/" %}
            color: #191d21;
        {% else %}
            color: white;
        {% endif %} " >

        <div class="title-logo">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo">
        </div>
        <div class="title-container">
            {{ site.title }}
            <!-- <div class="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </div>
            <div class="search-input">
                <input type="text" placeholder="Start looking for the blog...">
            </div> -->
        </div>
    </a>
    <div class="navigation-second">
        <div class="nav-links">
            <a href="#">Contribute</a>
        </div>
        <div class="nav-links">
            <a href="{{ site.baseurl }}/catalogue">Catalogue</a>
        </div>
    </div>
</div>