<div class="navigation-container">
    <a class="navigation-first" href="{{ site.baseurl }}/" style="
        
        {% if page.url == "/" %}
            color: #191d21;
        {% else %}
            color: white;
        {% endif %} " >

        <div class="title-logo">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo">
        </div>
        <div class="title-container">
            {{ site.title }}
            
        </div>
    </a>
    <div class="navigation-second">
        <div class="nav-links">
            <a href="#">Contribute</a>
        </div>
        <div class="nav-links">
            <a href="{{ site.baseurl }}/catalogue">Catalogue</a>
        </div>
    </div>
</div>