$BricolageGrotesque: 'Bricolage Grotesque', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
$Poppins: 'Poppins', sans-serif;

// $primary: #f1ede9;
$primary: white;
$black: #191d21;
$yellow: #f8ce65;
$green: #c6ff00;

$TopBottomPadding: 2rem;
$LeftRightPadding: 4rem;
$NavigationBarPadding: $TopBottomPadding $LeftRightPadding;
