---
---

@import "base";

.first {

    overflow: hidden;

    height: 100vh;
    width: 100vw;
    background-color: $primary;

    .navigation-container {

        .navigation-second {

            .nav-links {

                a {

                    color: $black !important;

                }

            }

        }

    }

    .search-container {
        padding: $NavigationBarPadding;

        a {

            text-decoration: none;
            color: $black;

            font-family: $RobotoSlab;

            font-size: 1.2rem;

        }
        
    }

}