---
---

@import "tasks-base";

.first {

    // padding: $NavigationBarPadding;
    
    .navigation-container {
        
        padding: 2rem 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .navigation-first {
            
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            text-decoration: none;

            .title-logo {

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .title-container {

                font-family: $BricolageGrotesque;
                font-size: 3rem;

            }            
        }

        .navigation-second {
        
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 3rem;
            font-size: 1.6rem;

            .nav-links {
                
                a {

                    font-family: $BricolageGrotesque;
                    text-decoration: none;
                    color: $primary;
                    
                }

            }

        }
    }
}   

.second {

    height: auto;
    background-color: $black;
    padding: 0rem 4rem 0rem 4rem;

}

@import "../post/post.scss";
@import "../home/partials/navigation-medias.scss";